$gray-dark: #1a1a1a;
$gray-medium: #333;
$gray: #4c5264;
$gray-light: #efefef;
$red-dark: #a01d20;
$red: #f43127;
$pink: #f62459;
$orange: #ff6a2b;
$yellow: #ffd058;
$green: #00972f;
$green-lime: #94cc61;
$blue-navy: #1e2b43;
$blue-medium: #004983;
$blue-cobalt: #006ada;
$blue-light: #aec6d8;
$grape: #a338c4;
$violet: #9a88c5;